/* oswald-regular - latin_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/oswald-v40-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oswald-500 - latin_cyrillic */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v40-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    width: 1278px;
    margin: 0 auto;
  }

  /* header */
  .header {
      background-color: #66D1FF;
      color: #060D10;
      font-size: 28px;
      line-height: 34px;
      padding: 30px 0;

  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center ;
  }

  .header-btn {
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    background-color: #fff;
    color: #060D10;
    padding: 8px 41px;
  }

  .header-tel {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    color: #060D10;
  }



  /* Promo */

  .promo {
    background-image: url('../img/promo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 240px 0 260px 0;
    color: #fff;
  }

  .promo-title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 60px;
  }

  .promo-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }

  /* Learn */
  .learn {
    background-color:rgba(102, 209, 255, .1);
    padding: 170px 0 100px;

  }

  .learn-title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 167%;
    margin-bottom: 100px;
    text-align: center;
  }

  .learn-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;

  }

  .learn-item {
    flex-basis: 33.33%;
    margin-bottom: 70px;
    padding: 0 15px;

  }

  .learn-subtitle {
    font-family: 'Oswald' , sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 167%;
    margin-bottom: 25px;
  }

  .learn-descr {
    font-size: 26px;
    line-height: 140%;
  }

  /* lead */
  .lead {
    background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) , 43.85%, rgba(196, 196, 196, 0) 43.86%);
      text-align: center;
      padding: 170px 0 180px;
  }

  .lead-title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 167%;
    margin-bottom: 60px;
  }
  .lead-btn {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-decoration: none;
    padding: 22px 108px;
    border: 1px solid #060D10;
    display: inline-block;
    color: #060D10;
    margin-bottom: 130px;
  }

  .lead-list {
    margin: 0 -15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .lead-item {
    flex-basis: 25%;
    padding: 0 15px;

  }

  .lead-img {
    display: block;
  }

  .footer {
    background-color: #060D10;
    font-size: 20px;
    line-height: 167%;
    color: #fff;
    padding: 35px 0;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-item {
    display: flex;
  }

  .social {
    list-style: none;
    display: flex;
  }

  .social-item {
    padding: 0 10px;
  }

  .social-link {
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


  }

.footer-text {
  padding-left: 50px;
}

